@charset "UTF-*";

h1 {
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-width: 10px;
    border-style: solid;
    border-color: darkslategray;
   /*border: 10px solid darkslategray;-- simplificado*/

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;    
    /*padding: 10px;-- simplificado para todos os valores iguas*/
     

    margin: 20px auto 40px auto;

    outline: 5px dashed salmon ;
}

a {

    border: 10px solid red;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;  
}

.video2{
    margin: 20px auto 40px auto;
}

div a{
    border: 10px;
    text-decoration: none;
}
